*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

main{
  overflow-y: auto;
}

.topbar{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-top{
  background-color: #4a4a4a;
  border-radius: .4rem;
  padding: .1rem .5rem;
  margin: .5rem .2rem;
  font-size: .7rem;
}

.container{
  height: 85vh;
  width: 91%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user{
  position: relative;
  margin: .5rem .2rem;
}

.user img{
  display: block;
}

.user-name{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .7rem;
  padding: .1rem .3rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.user-control-button,
.meet-control-button,
.meet-exit-button{
  display: flex;
  padding: 1rem;
  font-size: .7rem;
}

.interaction{
  background-color: #222222;
  margin: 0 .5rem;
  position: fixed;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interaction i{
  font-size: 1.6rem;
  padding-bottom: .2rem;
} 

.menu i{
  padding: 1rem;
  font-size: .1rem;
} 

.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
}

.button-green i{
  color: green;
}

.meet-exit-button{
  color: red;
  background-color: #4a4a4a;
  padding: 2rem;
}
